footer {
    height: 1000px;
}
.se_01 {
    max-height: 300px;
}
.se_01 .card {
    max-height: 300px;
    overflow: hidden;
}

.se_01 .card img {
    position: relative;
    bottom: 200px;
}

.se_02 {
    width: 80%;
}

.se_02 .container .item .card .card-body {
    height: 40%;
}
.se_02 .container .item .card img {
    width: auto;
    height: 60%;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}